<div class="job container requireJob" [@flyIn]>
  <div class="job_container">
    <div class="row">
      <div class="panel">
        <h4><a routerLink="/release">寻找人才</a></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <a><img src="../assets/imgs/work04.png" (click)="seeResumeAsk()"  class="img-responsive center-block"/></a>
      </div>
      <div class="col-md-6 col-sm-6">
        <a><img src="../assets/imgs/work05.png" (click)="releaseJobAsk()" class="img-responsive center-block"/></a>
      </div>
    </div>
    <div class="row">
      <img src="../assets/imgs/consult.png" class="img-responsive center-block consult">
    </div>
  </div>
</div>

