<div class="job container requireJob" [@flyIn]>
  <div class="row">
    <div class="panel">
      <h4><a routerLink="/release">寻找人才</a> <small><a>（发布信息）</a></small></h4>
      <form #searchResumeForm="ngForm" (ngSubmit)="searchResume(searchResumeForm.form.value)">
        <input type="search" class="form-control search" name="searchInfo" placeholder="请输入想要匹配简历的职位信息" [(ngModel)]="searchResumeForm.searchInfo">
        <input type="submit" class="btn btn-info" value="搜索简历">
      </form>
    </div>
  </div>

  <div class="row">
    <!--record开始-->
    <table class="table table-hover table-striped">
      <thead>
      <tr>
        <th>职位名称</th>
        <th>希望月薪</th>
        <th>工作地点</th>
        <th>到岗时间</th>
        <th>工作类型</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let thinkJob of thinkJobs | paginate: { itemsPerPage: 10, currentPage: p }" [@flyIn]>
        <td><a [routerLink]="['/resume/', thinkJob.userId]">{{thinkJob.work}}</a></td>
        <td><div class="money">{{thinkJob.salary}}</div></td>
        <td>{{thinkJob.workAddress}}</td>
        <td>{{thinkJob.entryTime}}</td>
        <td>{{thinkJob.jobType}}</td>
      </tr>

      </tbody>
    </table>
    <!--record结束-->
  </div>

  <div id="pagination">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
  </div>



