ul li{ width: 80%;background-color: #6f5499;height:35px;line-height: 30px;color: #fff;text-indent: 25px;margin-bottom: 1px;cursor:pointer;}
ul li:hover{ background-color: #6a6688}
ul .active{ background-color: #6a6688 }
ul{ padding-left: 10px;}
