<!--主要内容区域开始-->
<div id="MAIN" [@flyIn]>
  <div class="container">
    <div class="panel">
      <h3><a href="">招聘流程 </a><small><a href="">（仅供参考）</a> </small></h3>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <ul>
          <li (click)="count=1" [ngClass]="{'active':count==1}">推荐</li>
          <li (click)="count=2" [ngClass]="{'active':count==2}">面试</li>
          <li (click)="count=3" [ngClass]="{'active':count==3}">测试</li>
          <li (click)="count=4" [ngClass]="{'active':count==4}">确认</li>
          <li (click)="count=5" [ngClass]="{'active':count==5}">背调</li>
          <li (click)="count=6" [ngClass]="{'active':count==6}">入职</li>
        </ul>
      </div>
      <div class="col-md-9 col-sm-9">
        <div [hidden]="count!=1">
          <h2 id="section-1">推荐</h2>
          <p>经常有些人迷茫，不知道自己适合什么样子的工作，会疑问现在这个工作到底适合不适合我，或者现在做这个工作对以后的职业规划有没有影响。其实很多人都有过这些想法，学会从以下几点思考，对你的工作会有帮助:</p>
          <p>1、工作内容是否适合自己的性格。工作需要的特点你具备不具备，如果一个工作就是需要人非常细心有耐心，而你恰巧是那种比较粗心的人，必然工作会经常出错，这样的工作就是不适合自己的工作。</p>
          <p>2、能不能学到新的东西。这个尤其对刚毕业参加工作的人来说很重要。一份工作好不好关键一点是对你的成长有没有帮助，如果在这个岗位上能迫使你必须学会一些非常有用的技能，那即使这个工作非常辛苦，我觉得还是有必要坚持下去。</p>
          <p>3、本人喜不喜欢这个工作。个人爱好也很重要，如果一个工作公司氛围很差，你工作时候觉得很压抑，每天上班心情都很差，工作必然也是做不好的，所以要上班首先你要喜欢这份工作，起码不讨厌。</p>
          <p>4、对你的职业规划有没有帮助。每个人应该都有自己的职业规划，确定最终自己要干什么样的工作，若干年后需要达到什么样的期望值，比如你若干年后希望成为一名设计师，那如果现在的工作是个会计，这肯定是风马牛不相及的工作，对以后职业规划没任何好处。</p>
          <p>5、赚的钱够不够。也有一些人工作的目的就是赚钱，抱有这种想法的人看一个工作适合不适合的关键就是赚的钱你满意不满意。如果觉得赚到的钱达到自己要求了，也没有别的什么想法，那这样的工作就是适合你的工作。</p>
          <p>每个人对工作的要求不一样，有些人是为了实现自我价值，有些人就是为了赚钱养活自己。决定哪些工作适合自己还是要看个人需求和期望。</p>
          <hr>
        </div>


        <div [hidden]="count!=2">
          <h2 id="section-2">面试</h2>
          <p>在面试前先了解、练习对几个很难的问题进行回答会帮助你对其他问题的回答做准备。有的问题问得比较多，有的较少但却是回答其它问题的基础。

            1、为什么不谈谈你自己？<br/>

            分析：这是个开放性问题。从哪里谈起都行，但是滔滔不绝地讲上一两个小时可不是雇主所希望的。这样的问题是测验你是否能选择重点并且把它清楚、流畅地表达出来。显然，提问者想让你把你的背景和想要得到的位置联系起来。<br/>

            回答对策：有几个基本的方法。一个是直接简要回答所问的问题，另一个是在回答前要求把问题问得更明确。在上述两种情况下，你都要很快地把你的答案转到你的技能、经验和你为得到目前这份工作接受的培训上来。<br/>

            回 答样板：“我来自一个小家庭，有一个弟弟，父母都还在工作。中学毕业后，我攻读市场营销学士。日间在一家商业机构担任行销执行员，学了不少管理方面的知 识。 例如，我全权负责的一个批发销售公司的业务，销售总额一年为200万美元。在那里我学习到怎么管理人事，在压力下解决问题。我希望能更好的运用我的 技能。我相信我的经验和学历将让我迎向未来更大的挑战。”<br/>

            评语：只简单的介绍了个人历史，很快的将重点话题转到与工作有关的技能和经验上来。你也可请面谈者把他确实想了解的东西集中到一点，如你可问：“你是不是想知道我受过的教育，或者与工作有关的技术和经验？”等，大多雇主都会乐意告诉你他们感兴趣的是什么？<br/>

            2、我为什么要雇用你？<br/>

            分析：这是个直接、正面的问题，尽管这个问题不会问得这样明确，但是会在其它问题之后被提出来，这个问题没有隐含的意思。<br/>

            回答对策：直接的问题需要直接了当回答，为什么他们要雇用你呢？最巧妙的回答对他们而不是对你有利。这个问题会使你向他们提供证据以证实你可以帮助他们改进工作效率，降低成本、增加销售、解决问题（如准时上班，改进对顾客的服务、组织一个或多个管理工作等）。<br/>

            回 答样板：“我是个经验丰富的经理，在员工队伍建设方面，从组织项目的实施到鼓励员工合作，我得心应手。多年来，我已经掌握了一套雇人和留人的技巧。此外， 我还擅长帮助公司顺利实现技术改造和员工培训。我经常对主要客户进行示范讲解，我们的销售额在过去两年平均增加了87%。”<br/>

            评语：在回答中，以实例提供有力的证据，直接而自信地推销自己。<br/>

            3、你有哪些主要的优点？<br/>

            分析：像前面问题一样，这个问题问得相当直接，但是有一点隐含。<br/>

            回答对策：你的回答应当首先强调你适应的或已具有的技能。雇用你的决定在很大程度上取决于这些技能，你可以在后面详细介绍你与工作有关的技能。回答时， 一定要简单扼要。<br/>

            回答样板：“我具有朝著目标努力工作的能力。一旦我下定决心做某事，我就要把它做好，例如，我的志愿是成为一个出色的公关经理，我喜欢接触不同的人，服务人群，为了实现这个目标。我目前正在修读有关课程。”<br/>

            评语：如“我的学习能力、适应能力很强。”“人际关系很好”等都是可提出的优点，但尽可能要提供与工作相关的证据，这会使你与众不同。<br/>

            4、你有哪些主要的缺点？<br/>

            分析：这是个棘手的问题。若照实的回答，你会毁了工作，雇主试图使你处于不利的境地，观察你在类似的工作困境中将作出什么反应。<br/>

            回答对策：回答这样的问题应诚实。完满地回答应该是用简洁正面的介绍抵消反面的问题。<br/>

            回答样板1：“工人们指责我对工作太投入。我经常提前一点上班安排好我的工作，晚上晚一点下班，使要干的事得以完成。”<br/>

            回答样板2：“我需要学会更耐心一点。我的性子比较急，我总要我的工作赶在第一时间完成。我不能容忍工作怠慢。”<br/>

            评语：回答的虽是自身的缺点，但却表现了正面的效果，对工作的积极抵消了反面。<br/>

            5、你想得到的薪水是多少？<br/>

            分 析：如果你对薪酬的要求太低，那显然贬低自己的能力；如果你对薪酬的要求太高，那又会显得你分量过重，公司受用不起。一些雇主通常都事先对求聘的职位定下 开支预算，因而他们第一次提出的价钱往往是他们所能给予的最高价钱。他们问你只不过想证实一下这笔钱是否足以引起你对该工作的兴趣。<br/>

            回答对策：在商谈薪酬之前，你已经调查了解了自己所从事工作的合理的市场价值。在与对方商谈时，不妨尽可能插入“合理的和市场价值”语汇。记得，商谈时降低原来的开价轻而易举，但一旦开出低价后想再提上去就难乎其难。<br/>

            回答样板1：如果你尚未彻底表现自我价值，面试者就提此问题考你，你不妨参考以下答案：<br/>

            “钱不是我唯一关心的事。我想先谈谈我对贵公司所能做的贡献－－如果您允许的话。”<br/>

            “我对工资没有硬性要求。我相信贵公司在处理我的问题上会友善合理。我注重的是找对工作机会，所以只要条件公平，我则不会计较太多。”<br/>

            回 答样板2：如果你已经阐明该职位的重要性，可是对方仍旧告诉你给你的报酬已是最好的。您不妨指出它的工作性质实际上值得你获得更高的报酬；阐明你将如何通 过努力缩减公司的开支；说明在工作中你得自我承担哪些费用等，以证明你对公司的价值，和表明你要求更高报酬是以你的工作表现为前提的。<br/>

            但是如果对方不愿妥协，在你未得到肯定的工作答复之前，不要使雇主排除对你的考虑。你可以问：‘你们决定雇用我了吗？”如果答案是肯定的，报酬却使你不愿接受，你可以这样拒绝：<br/>

            “谢谢你给我提供工作机会。这个职位我很想的到，但是，工资比我想要的低，这是我无法接受这份工作的原因之一。也许你会重新考虑，或者以后能有使我对你们更有价值的工作时再考虑我。”<br/>

            评语：即使拒绝对方，也要为协商留有余地。如果雇主需要你，他会乐于满足你的要求。一旦你对他们提出的标准说“不”，交易就做不成了<br/>

            6、你以前的经验和我们现在的工作有哪些联系？<br/>

            分析：这个提问要求你在与其它求职者进行比较时，你要克服你背景中显示出来的任何弱点。<br/>

            回答对策：首先要介绍你的优势。假如其它求职者明显地比你受的教育多，工作经验多或知识多，那么你就要介绍你的优势。<br/>

            回 答样板1：“如你所知，我刚刚结束电脑编程方面的加强培训。另外，我在企业方面有三年多的工作经验，其中包括在老板不在时管理小型企业。我在那学会了处理 财务及基本的会计工作。我还盘算和管理过价值30万美元的产品。这些经历帮我认识企业使用电脑编程的作用。虽然我刚接触编程工作，我对电脑语言是熟悉的。 我受的教育是全面的，我有300多个小时的电脑操作时间，这是我课程的一部分。因为我是新手，我决心比别人更努力地工作，以便及时完成任务。”<br/>

            评语：这种回答强调了可转换性的技能(会计工作知识)和适应性技能(按时完成任务，更努力工作)。这对缺乏工作经验的程序员来说是必要的。在这种情况下，在学校学的知识也非常重要，也要像“正式”工作那样予以强调。<br/>

            回 答样板2：“在以前的工作中，我使用过很多与做好这项工作所需要的相同的技术。尽管是不同的企业，但管理企业都需要有我具有的组织和监督能力。在过去的七 年里，我使我的部门成为我们公司最赢利的部门之一。在我工作期间，每年销售额平均上升30%，利润也提高30%。由于这是个老公司，这样的业绩是很不一般 的，七年中我得到两次晋升，并很快地荣升到管理层。我想在你们这样小的、发展型公司接受挑战，我感到我的经验为我走向这一步做好了准备。”<br/>

            评语：回答者明白以前的工作领域与现在考虑的不同，但是，他强调了成绩和以前的成功。为完成这项工作，各种管理技术都会用到。回答中还谈到继续接受小公司工作挑战的动力。<br/>

            7、你对以后有什么打算？<br/>

            分析：这个问题是在考察你的工作动机。它是在探究是否可以信赖你把工作长久地干下去，而且干得努力。<br/>

            回答对策：你最好的对策就是诚实。这是一贯强调的。我并非是要你把负面的信息也摆出来，你应该准备坦率地、正面地回答雇主关心的问题。而哪些是雇主关心的问题取决于你介绍个人背景的具体情况。<br/>

            例如：<br/>

            －你对工作满意吗？ （如果不满意你会离开公司吗？）<br/>

            －你想成家吗？ （如果成家，你会停职去照料小孩吗？）<br/>

            －你是否有过短期工作后离开的历史？（如果有，你会不会也放弃这份工作呢？）<br/>

            －你是否刚搬到此地，是临时的或暂住人口？ （如果是，你也不会在此地久居，对吗？）<br/>

            －你是否有比本工作要求更好的条件？（如果是，是什么使你不去高就呢？）<br/>

            －你有什么优势和承诺在工作中发展吗？（如果不是，谁需要一个没有优势和动力的人呢？）<br/>

            －有什么原因使你感到不满吗？ （如果有，雇主自然会设法搞清楚。）<br/>

            回答样板1：对于一个刚刚参加工作的人，他可以这样回答：<br/>

            “我 认识到要在这一领域造就自己，我很愿意从此开始。我想过我要做什么，而且肯定我的技能正是做好这项工作所需要的。例如，我善于与人打交道。在我过去的一项 工作中，我每周向1000多名不同的人提供服务。在我18个月的工作中，我曾为72000多名顾客提供服务，从未得到一次正式的投诉。事实上，他们常因我 的周到服务表扬我。我认识到我喜欢与公众接触，想到我能得到这份工作感到非常愉快。我想在工作中更好地学习，并与之共同进步。由于我对公司的贡献和价值不 断提高，我希望能考虑使我得到更有责任的职务。”<br/>

            评语：雇主想了解你会长期工作下去并努力工作。这样的回答使对此表示关注的雇主感到安慰。（注意，这样的回答可以在快餐店工作获得的经验为背景。）<br/>

            回答样板2：对没有工作经验和只有各种短期工作经验的人，他们可以这样回答：<br/>

            “我做过几种工作（一种或失业），我认识到应该珍视体面的、稳定的工作。我的各种经验是一种财富，我学到很多东西，我可以把它们用于这项工作中去。我正在寻找一份可以安定下来，努力工作并持久下去的工作。”<br/>

            评 语：这是一种可以接受的回答，只是回答太短，也没有提供证据。介绍自己的实例最好放在最后一句话之前。有些职务，如销售方面的工作，要求你有勃勃雄心，或 者说是咄咄勇气。其它工作有对工作领域或专门机构的要求。你不会总能预料到雇主想要什么。如果你能正确地做，你就会具有任何工作要求的条件，而这一切只需 要你用嘴讲出来，就是这么简单。<br/>

            8、你以前的雇主（教师、介绍人、管理员等）对你的评价如何？<br/>

            分 析：这个问题与雇主的第二种期望有关。雇主想知道你的适应性技能--你是否容易相处，你是否是个好工人等等。你以前的雇主可能会谈到你存在的问题，当然， 也可能不谈。你知道，许多雇主会在雇用你之前查阅你的证明信，如果你在面谈时谈的与你以前的雇主说的不一样，你就要倒霉了。<br/>

            回答对策：一定要与你以前的雇主讨论你的求职计划，也要征求你介绍人的意见。要明确地告诉他们你想找的工作种类以及你准备做好新工作的理由。假如以前的雇主会说一些不利于你的话，你要和他开诚布公地谈谈，看他会说写什么。<br/>

            如 果你是被解雇或被迫辞职的，你可以向未来的雇主进行辩解。有很多成功的人与前雇主发生过冲突，如果能把这些冲突尽可能地讲出来，许多面谈者是会理解的。对 和你关系不好的旧雇主，明智的办法是请他写一份文字证明材料，在这种情况下，他们不会给你极为不利的信。大的公司一般不接受电话提供证明材料，这可以使你 大大地松一口气，只要给公司打个电话就清楚了。<br/>

            如 果可能的话，使用那些说你好话的证明信。要是你的前任老板不愿这么做，找个愿意帮忙你的人便行了。如果你被解雇了，最好的对策是实话实说。但是对你的前任 老板不要太苛刻，这样会让人觉得你是个好抱怨而无责任感的人。再者，你也不是一点错也没有。要先承认有这么回事，接着要趁机谈谈你从中得到的教 训。<br/>

            回 答样板：“我的三个前雇主都会说我工作努力，可靠、忠实，我离开那里是因为个人冲突。为此我深深地感到烦恼，只有放弃那里的工作。你可以给他们打电话，他 们对我的评价是肯定。我认为还是向你们谈谈为好，我仍然尊敬他。我在那得到了几次晋升的机会，但是，随着我权力的增加，冲突也越发地多起来。我们主要是不 同类型的人。我不知道问题会有那么严重，因为我一心只想工作。这是我的错，我认识到我应该更加注意人际关系的处理。”<br/>

            评语：回答中介绍了一些正面的技能，并用具体事例加以说明，因而是有力的。<br/>

            9、你为什么要找这样的职位？为什么是在这里？<br/>

            分析：雇主想了解是否你是那种无论什么公司有活就行的人。果真如此，他或她就不会对你感兴趣。雇主想找那种想解决工作中问题的人。他们有理由认为这样的人工作起来更努力，更有效率，而那些想去特别的公司工作的人也是如此。<br/>

            回答对策：事先了解哪些工作适合你的技能和兴趣非常重要。要回答这个问题，就要谈到你选择工作目标的动机，那项工作要求的而你又具备的技能，各种专门培训，或与职务有关的教育证书。<br/>

            这 个问题实际上有两方面的含意。一是为什么选择这个职位，二是为什么选择这个公司。如果你有选择这个公司的理由，或选择这个公司是你最大愿望，你就要准备回 答为什么。如果可能的话，在面谈前，你要事先尽可能地对它进行了解。与别人联系得到详细的情报，或到图书馆查阅，看公司的年度报告，或任何能使你了解情况 的方法都是必要的。<br/>

            回 答样板：“我花费了很多时间考虑各种职业的可能性，我认为这方面的工作最适合我，原因是这项工作要求的许多技能都是我擅长的。举例来说，分析问题和解决问 题是我的强项，在以前的工作中我能比别人更早发现和解决问题。有一次，我提出一项计划使得租借设备的退货率减少了15%，这听起来不算高，但是取得了年增 长25000美元的好效益。而成本仅为100美元。目前你们公司似乎是能让我施展解决问题能力的地方。这个公司工作运行良好，发展迅速，善于接受新思想。 你们的销售去年上涨了30%，而且你们准备引进几项大型新产品。如果我在这里努力工作，证实我自身的价值，我感到我有机会与公司共同发展。<br/>

            评语：这种回答巧妙地运用了“提供证据”技巧，这样的话符合一个出色的经理或优秀的秘书的身份。<br/>

            10、为什么不讲一讲你个人的情况？
            <br/>
            分析：一个好的面谈者很少这样直接地提出这个问题，通过随意的、友好的谈话也可以得到想了解的情况。在大多数情况下，面谈者会竭力地打探证明你不稳定或不可靠的信息。<br/>

            回答对策：还有其它一些可能使某个雇主关注的问题，以上问题只是对某些性格的人的推测。这都是些不相关的问题，但是，如果雇主想以此来了解你可否可靠，你就得全力以赴地去应付了。要记住即使是随意地闲谈也要避免提及隐晦的问题。在回答个人情况时，要态度友好而且自信。<br/>

            回答样板：<br/>

            有小孩子的家：“我有两个小孩，都在上学。他们和我的一个好朋友在一起，照料孩子不成问题。”<br/>

            一人主家：“我没有结婚，但是我有两个孩子。对我来说有一份稳定的收入很重要，照料孩子不成为问题。”
            <br/>
            年轻、单身：“我没有结婚，即使结婚，我也不会改变做专职工作的打算，我可以把全部精力用在工作上。”
            <br/>
            新搬来的：“我决定在depression culch 长期居住下来，我租了一套公寓，搬家公司的六辆车正在卸家俱。”
            <br/>
            抚养人：“我有个愉快的童年，我父母住的地方离我只需一小时飞机的路程，我一年去看他们几次。”
            <br/>
            闲暇时间：“在我不去上班时，我主要呆在家里。我爱参加社区组织的活动，我每周都要在教堂参加活动。”
            <br/>
            评语：上述回答都可以扩展开，可以做为你回答问题时的参考。这里要告诉面谈者的是你个人的情况不影响你的工作能力，而且，确实还能对你有帮助。如果你的个人生活会扰乱你的工作，想必雇主也会很快对你失去耐心的。这不是他们的问题，也不应该成为他们的问题。</p>
          <hr>
        </div>

        <div [hidden]="count!=3">
          <h2 id="section-3">测试</h2>
          <p>   问答法<br/>
            问答法是目前领导干部选拔中最常见的一种面试方法，以拟选拔职位所需要的基本素质和能力为依据，在面试前先拟定测试要素、难易程度、测评标准、参考答案等，并据此编制面试题本。<br/>
            面试过程中，以主考官根据题本提问为主，单个应试者作答，然后考官小组中每个考官独自评分，最后汇总。考官小组一般由7至9人组成，其中1人为主考官。<br/>
            问答法必须按照成套试题回答，每套试题的题数、难度、区分度、答题时间在设置上要保证相同。其主要形式有结构化面试和半结构化面试两种。<br/>
            运用实例：<br/>
            某区团委推出了团务工作部副部长职位进行竞争上岗。主考方确定了“一般能力、领导能力和个性特征”三方面的考察内容。重点检测应试者的综合分析能力、组织协调能力、人际沟通能力、决策应变能力、创新思维能力、言语表达能力、管理激励能力和气质仪态表现等。并编制了成套的面试题本。<br/>
            有一道考查“决策应变能力”的考题是这样设置的：<br/>
            “不久前，某单位A部门的业务骨干小张，利用一周公休时间随旅游团赴泰国普吉岛度假（其家属未一起前往）。就在他到达普吉岛的第三天，新闻媒体报道说，‘印度尼西亚苏门答腊岛附近海域发生强烈地震，并进而引起海啸，波及印度洋周边的印度尼西亚、泰国、斯里兰卡、印度、马尔代夫等国家，造成当地居民和旅游者的重大伤亡’。如果你是A部门负责人，得知上述情况后你作何反应？”<br/>
            这道考题要求应试者在较短时间内对相对陌生的事件作出判断，并给出简单的处理方式，其决策能力的强弱，能否在统筹思考、有效分析、准确判断的基础上及时作出科学决断，以及对意外事件能否迅速而灵巧地应变，并以恰当的方法妥善解决问题等，都可通过应试者的陈述得出结论。同时，应试者的心理承受力、情绪稳定性、思维反应的敏捷性、思考问题的周密性、解决问题所用方法的适宜性及处理问题的决断力也可从中体现。<br/>
            优势：<br/>
            1、要求应试者必须具备独立分析问题、回答问题的能力。<br/>
            2、内容确定，形式固定，便于考官实际操作，有较高的信度和效度。<br/>
            3、要点突出，形式规范、紧凑、高效，能更加简洁地实现目标。<br/>
            局限性：不少应试者在考场上和私底下的表现完全判若两人，容易造成“纸上谈兵”、语言与实践脱节的现象。
            适用范围：同来源、同层面竞聘人员。<br/>

            面谈法<br/>
            面谈法就是考官通过与应试者的交谈来评价应试者的素质。内容侧重一个“谈”字，突出应试者与考官平等协作的关系，但在一定程度上淡化了素质、要素和测试点。面谈法在整个操作过程中，没有规范的问题、答案和程序，考官可以任意向应试者提问，应试者也可以引起话题。<br/>
            运用实例：<br/>
            某机关欲将一名外单位来的较高层人士作为正处级助理使用，可组织部门对该位同志的整体素质缺乏全面了解，对最终“用”还是“不用”心存疑虑，因而希望专业部门加以甄别，并通过一系列测试得出客观、准确的结论。<br/>
            我们对该位同志进行了必要的履历分析和基本素质测评之后，在综合素质面试阶段引入了面谈法。我们请了数位相关领导和专家担任面试专家，分不同场景和时间段，轮流对该应试者进行2小时左右的面谈，就应试者的教育背景、工作履历、理论掌握、实践运用等诸多方面作了较为深入的了解。<br/>
            之后，我们归纳和整理了专家们的评语，最终得出了“该同志适合正处级助理岗位”的评审结论。从以后由委托单位反馈得来的信息可以看出，该同志的实际使用情况与我们当时的结论是一致的。<br/>
            优势：<br/>
            1、自由灵活，考官可充分发挥主观能动性，针对不同应试者进行不同谈话，应试者也有更多表现自我的机会。<br/>
            2、简便易行，组织起来比较方便，对环境要求不高，且大大简化了设计的程序。<br/>
            局限性：<br/>
            1、对考官的要求较高，考官要能驾驭整个面谈过程。<br/>
            2、考官的数量太少，一旦考官水平不高，则会造成失误，而且容易有作弊嫌疑。<br/>
            3、应试者较多时，很难做到难易相当，不公平现象相对比较明显。<br/>
            适用范围：高层领导人员。<br/>

            情景模拟法<br/>
            情景模拟测评，就是设置一定的模拟情况，要求应试者扮演某一角色并进入角色情景去处理各种事务及问题和矛盾。考官对应试者在情景中所表现出来的行为进行观察和记录，以测评其素质潜能，看其是否能适应或胜任工作。该法又可分为角色扮演法和无领导小组讨论法。<br/>
            角色扮演法即事先向应试者提供一定的背景情况和角色说明，模拟时要求应试者以角色身份完成一定的活动或任务，例如：接待来访、主持会议、汇报工作等；<br/>
            无领导小组讨论法则是将若干(10人左右)应试者分为一组，就某一需要研讨的问题、需要布置的活动或需要决策的议题自由发表议论，相互切磋探讨。<br/>
            运用实例<br/>
            A、角色扮演法的运用实例<br/>
            某机关推出了1个副处级领导职位进行竞争上岗。考虑到该职位工作性质属来访接待，主考方便引入了角色扮演法。通过设计一整套来访场景、特定角色、内容及过程，来考察应试者的仪表仪态、工作方式规范程度、相关政策条规熟悉程度、随机应变能力和组织协调能力等诸项能力。整个评估过程包括：⑴仔细观察，并及时记录应试者的行为；⑵、整理观察后的行为结果，并把它归纳到角色扮演设计的目标要素之中；⑶、根据规定的标准答案对要素进行打分；⑷、给行为打分以后，考官对所有的信息汇总之后形成测评报告；⑸、所有考官进行初步讨论，并根据讨论的内容、评分的客观标准，以及自己观察到的行为，重新给应试者打分；⑹、在每一位考官重新评分之后，确定应试者的要素得分；⑺、最后，填写要素评分表7个步骤。<br/>
            考官组由7位专家组成，其中一位专家根据事先安排好的场景，分别假扮为下岗职工、房屋拆迁户和土地被征用户等对应试者提出一系列疑问，要求应试者解决。<br/>
            整个面试过程中，有一名应试者的临场表现引起了所有考官的注意。当被问及一项自己不熟悉的法规条例时，该应试者没有慌乱，而是镇定自若地答应上访人员在认真研读有关政策后会专电告之。这一表现，既化解了当时尴尬的场面，又体现出应试者的工作责任心，于是在“应变能力”这项要素上，专家普遍给出了高分。<br/>
            由于角色扮演是模拟真实的工作场景，因而应试者的工作水平和应变能力得以充分展示。一些平时夸夸其谈的应试者，由于理论功底不扎实被评为低分；而另一些平时名不见经传的应试者却由于扎实的业务基础和良好的应对被评为高分。<br/>
            B、无领导小组讨论的运用实例<br/>
            某机关推出了3个副处级岗位进行选拔。委托单位提出，要在以往半结构化面试的基础上，引入新的面试方式，帮助他们在短时间内对陌生同志有更为客观全面的了解和认识，进而作出判断。于是我们设计了无领导小组讨论方案。<br/>
            在考题的选择上，我们力求所有参与者都有话可说，又不涉及任何一个职位的专业领域，确保在公平的基础上，了解应试者的实际能力。我们以“科教兴市”作为考题，以“人才、政策、环境”等10项内容作为切入点，将发言主动性、组织协调能力、口头表达能力、辩论说服能力和论点的正确性等作为测评要素，来考察应试者的影响能力、说服能力、表达能力、思辩能力、领悟能力、总结归纳能力和个性魅力。<br/>
            整个讨论过程分为三个阶段。第一阶段，应试者了解试题，独立思考，列出发言提纲；第二阶段，应试者轮流发言阐述自己的观点；第三阶段，应试者交叉辩论，最终得出小组的一致意见。<br/>
            讨论中，有的应试者发言有内容、有重点、有层次，论点正确、论据充分、论述合理，能够理论联系实际，又善于从其他应试者的发言中寻求启发和支持，进而掌控局面，自然而然成为组织的核心。这样的应试者自然获得了评委给出的高分。相反，有的应试者，发言缺乏条理，逻辑结构不严密，轻易即被反对者驳倒，讨论时更是只有听的资格，这样的应试者得分也就低了。<br/>
            优势：<br/>
            1、通过观察应试者在实际工作情景中表现出来的行为测评其素质潜能，因而相当直观。<br/>
            2、应试者伪装性差，容易如实表现日常行事风格。<br/>
            局限性：<br/>
            1、设计试题难度较高。<br/>
            2、对考官要求很高，要求考官能够根据行为提炼要素能力，并准确打分。<br/>
            适用范围：操作性较强的职位。</p>
          <hr>
        </div>

        <div [hidden]="count!=4">
          <h2 id="section-4">确认</h2>
          <p>进入BATsina 网易等一二线公司<br/>
            1.  一二线公司是很好的选择。无论是以后想在大公司长期发展还是想跳槽去别的公司都是一层镀金效果。但注意升职是比较困难的事。一个萝卜一个坑是常有的事，上边的人不走，你就上不去。而且即使相同的技能起点，进入不同的部门也会慢慢的拉出差异化。建议题主在进入这类公司的时候根据自身的能力及兴趣爱好情况选择好。一般这类公司的决定性因素在薪资， 只要给你开的待遇还算可以就可以签约。<br/>
            2.  进入三线及成型的成长型公司<br/>
            三线及成长型公司是个比较难抉择的范畴。因为各方面比较均衡，不如一二线、创业型公司特点鲜明。比待遇不如大公司，但上升空间比大公司要大。可能比一二线公司轻松，但镀金效果又差了太远。这类公司团队氛围、加班情况建议题主提到比较高的权重考虑。一般薪资待遇可以，加班不严重，均可考虑签约。<br/>
            3.  进入创业型小公司<br/>
            创业型小公司跟对人很重要。如果前景比较明朗那就更棒了。但注意面试只谈宏观，只画大饼的直接pass掉。老板的眼光、魄力、如何满足下属的需求是决定性因素。总的来说这类公司风险较大，但对个人能力提升也较大，同样一些不规则的流程习惯也会养成。基本确定薪资保证能生存，不拖欠工资，老板谈钱不谈理想就可以签约。</p>
          <hr>
        </div>

        <div [hidden]="count!=5">
          <h2 id="section-5">背调</h2>
          <p>背调是HR术语，意为：背景调查<br/>

            成功客户回访第一步：结构合理精心编排的问卷是成功回访的第一步。<br/>


            在你拎起电话打算打给对方作背景资料调查时，你是否已经想好了你要问对方的问题？你是否已经设计好何时用开放式问题，何时用封闭式问题来引导对方给出你要求的答案？你的问卷里是否有涉及他人隐私、公司机密或是一般人可能会回避的问题？<br/>


            如果这些都没有事先准备好，那么这将是一次糟糕沟通的开始。<br/>


            成功回访客户第二步：要有针对性地选择回访时间，不要在客户繁忙或休息的时候去回访。<br/>


            可否想象，凌晨三点，你睡眼惺松地接起电话，一个甜美的女声告诉你要对你昨天买的某个产品进行满意度回访，那时的你，是什么样的心情，可能再甜美的声音也冲不熄你心中被人打扰的怒火。那时的你，会配合调查吗？同样的，对于背景调查来说，你选择的沟通时间合适吗？你是否选择了比较繁忙的工作时段去做背景调查？你是否已经模拟过对方回答你的问题需要耽搁多长的时间？一般来说，上午的11点-12点的时间段，下午4点后的时间段，都是接近下班的时候，大多数人员会在那个时段把手上紧张的工作稍稍放松一点，那时进行背景调查，不配合的人员比较少，当然，这个时段并不是绝对的，所以，在进行背景调查，你也不妨问问应聘者，他们公司的上下班时间是怎样定的。<br/>


            成功回访客户第三步：礼貌和甜美的语声是打动客户听下去的动力。<br/>

            对于电话另一头的人来说，你的语音是标识你修养与素质的唯一名片，拿起话筒前要先调节好自己的情绪，注意礼貌的问候、语气和节奏的掌控，避免给别人一种冷冰冰、公事公办的态度，要知道，对方无论选择告不告诉你答案，对他来说，无半点损失。结束时，不妨加上一条祝福语，让对方感受到你获得帮助时的愉悦之情，这样，你们两个，当天都会有一个好心情。<br/>


            注意事项：想让对方对你坦诚，首先你自己要先坦诚，我曾经接过一个作背景调查的电话，问我两名员工的信息，由于他坚持不肯透露自己的目的，不免让我心生疑虑，出于对员工的保护和警惕，我很客气地拒绝了他。还好这位先生觉悟地比较快，在我放下电话的五分钟后，再次打电话来，很不好意思告诉我，他是我们竞争对手公司的，我们有两位离职员工去应聘，他想了解一下她们在本公司的表现情况，于是释然，接下来就是一场愉悦的沟通。<br/>


            成功回访客户第四步：要多维度地去收集信息。<br/>


            你的背景调查的计划里，是否只有人力资源部？对于规模较大的公司来说，他们的人力资源部是否能够全面地去了解每一个离职的人员？所以，不要忽视求职者的前任上司对他的评价，虽然说，这个评价当中可能具有掺水的成份，但是，如果他的前任上司对他赞不绝口，最起码这个人在前公司的人缘，还未到被人恨之入骨的地步；如果他的前任上司对他咬牙切齿，那么，你不妨将他上级的评语与他的自述相对比，看看简历中是否掺了水。当然，对于他前任上司的回访，也要考虑前三步的内容。<br/>


            如果，能够作到上面这四步，相信背景调查对于HR来说，不会再是一个棘手的包袱，而从黄金法则跨越到白金法则去看待人力资源，才能将真正地体会“服务部门”的含义，什么？你说内部客户和外部顾客是两码事？那么以后如果有时间，我们可以再讨论一下利用客户分层手法对员工进行分层次的人力资源管理。<br/>
          </p>
          <hr>
        </div>

        <div [hidden]="count!=6">
          <h2 id="section-6">入职</h2>
          <p>对于职场新人来说，书本上学到的所有知识都不足以应对眼前的突发状况，很容易不知所措。所以，做好入职前准备十分必要，这种准本不仅包括心理准备，也包括一些技术上的准备，如为人处事的规则等等。只有做好充足的准备才能做到“有恃无恐”，应对自如。</p>
          <p>牢记人名：<br/>
            　　尽可能在一个人独处时，随时记下你所遇到的人的姓名和头衔。下回你再遇到他们时，直接叫出他们的名字不但能够取悦对方，还有助于你建立良好的人际关系。注意听别人怎么称呼他人。例如，同事们是否彼此只叫名字?称呼主管时要不要冠上职称?<br/>

            　学习公司的文化<br/>
            　　公司跟人一样，有它独特鲜明的性格。每一家公司自有它的一套价值制度、可接受与不可接受的行为模式、奖惩办法、好恶、令人崇拜的人物、与为人不知的事情。所以在你准备大展长才之前，不能不对公司的文化与性格有所了解。当然，公司也有其负面的方面。不久，你将会听到、看到——无论你喜不喜欢——公司同事的罗曼史、能力平平的秘书、会议室理的尔虞我诈、办公室里的政治以及主管想在中国创作销售金字塔的秘密心愿。诸如此类的背后组织将逐渐在你眼前、耳边出现。建议你不妨接受这些信息，从中学习吸取教训，但是个人不要介入(你也许比较希望以质疑态度莱看待这些事情)。如果你能跟公司这些背后信息保持距离，就能够洁身自重，保全个人声誉，当然也能够保住饭碗。<br/>

            谨慎行事<br/>
            　　不要期待在开始的几星期就击出全垒打。你要眼观四面、耳听八方，有选择性地问问题，并且尽量做一个倾听者。保持亲切有礼的态度总是对的，但是不要在初次与人认识后，就勉强去发展密切的友谊关系。不要轻易向人吐露心事，也别随便坦述内心深处的想法，一般人对这种行为通常会产生负面的反应，继而对你起疑心。而一个对你私人问题知之甚祥的主管，虽然内心同情你，却不放心让你多负责任——如此将对你的升迁机会有所影响。<br/>

            　跟主管建立融洽的关系<br/>
            　　试图领会你的主管要的是什么。他喜欢简单明了的说明，还是喜欢长篇大论的解释?他喜欢你巨细无遗地报告所有问题，还是只听重点?他很在乎守时与工作有没有如期完成吗?他是早上比较亲切还是下午?了解主管的“做事模式”和特别嗜好，可使你成为主管心目中的得力助手。<br/>

            话到嘴边留半句<br/>
            　　《祈祷书》上有一句祷词：“让我的口舌远离中伤诽谤的话语。”这句祷告语也非常适用于工作场所。当你还在念大学时，你可以大肆抨击教授、校园的行政人员，可是一进入公司，若对你的主管口出恶言，可能会让你的事业毁于一旦。而议论同事是非也是不好的行为。<br/>

            不要好高骛远<br/>
            　　你对新工作的兴奋与憧憬，可能很快就会被愤怒、厌烦的情绪所替代。这是司空见怪的事情。毕竟，新的工作已经改变了你原来舒适的生活方式。有了工作以后，私人时间变少了，日常的生活步调也跟着变得难以控制。当你觉得怀才不遇时，也许你正处于缺乏安全感与对自我不肯定的状况。面对这段自我要求高的时期，你对自我本身以及将来应有切合实际的期望。由于是一个新人，你可能被分派给最不好的任务，被要求花更长的时间工作，甚至你领的薪水还很低。实际上，所有的专业领域都会有新人，因而这种情况不能算是要求过分或者不公平。实习的这段期间可训练你快速成长，以此为基础，你将拓展灿烂耀眼的事业生涯。</p>
        </div>





      </div>
    </div>
  </div>
</div>

<!--主要内容区域结束-->
