<div class="job container" [@flyIn]>
  <div class="row">
    <div class="panel">
      <h4><a routerLink="/job">求职指南</a></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <a routerLink="part"><img src="../assets/imgs/work01.png" class="img-responsive center-block"/></a>
    </div>
    <div class="col-md-4 col-sm-4">
      <a routerLink="full"><img src="../assets/imgs/work02.png" class="img-responsive center-block"/></a>
    </div>
    <div class="col-md-4 col-sm-4">
      <a routerLink="activity"><img src="../assets/imgs/work03.png" class="img-responsive center-block"/></a>
    </div>
  </div>
  <div class="row">
    <img src="../assets/imgs/consult.png" class="img-responsive center-block consult">
  </div>
</div>


