
<div class="job container" [@flyIn]>
  <div class="job_container">
    <div class="row requireJob">
      <div class="panel">
        <h4><a routerLink="/release">寻找人才</a> <small><a>（发布信息）</a></small></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <form class="form-horizontal" #releaseJobForm="ngForm" (ngSubmit)="releaseJobSubmit(releaseJobForm.form.value)" >

          <input type="text" class="form-control hidden" [(ngModel)]="currentUser._id" name="userId" #userId="ngModel">
          <input type="text" class="form-control hidden" name="companyId" [(ngModel)]="company._id" >
          <div class="form-group">
            <label class="col-sm-3 control-label">公司名称<i>*</i></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="companyName" required="required" [(ngModel)]="releaseJobForm.companyName" #companyName >
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">招聘职位<i>*</i></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="position" required="required" [(ngModel)]="releaseJobForm.position">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">工作地点<i>*</i></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="address" required="required" [(ngModel)]="releaseJobForm.address">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">所属类型<i>*</i></label>
            <div class="col-sm-4">
              <select class="form-control" name="jobType" [(ngModel)]="releaseJobForm.jobType">
                <option value="兼职">兼职</option>
                <option value="全职">全职</option>
                <option value="活动充场">活动充场</option>
              </select>
            </div>

            <div class="col-sm-4">
              <div class="row">
                <label class="col-sm-3 control-label">人数<i>*</i></label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" name="number" required="required" [(ngModel)]="releaseJobForm.number"  />
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">薪资待遇<i>*</i></label>
            <div class="col-sm-4">
              <select class="form-control" name="salary" [(ngModel)]="releaseJobForm.salary" >
                <option value="面议">面议</option>
                <option value="1000元以下">1000元以下</option>
                <option value="1000-2000元">1000-2000元</option>
                <option value="2000-3000元">2000-3000元</option>
                <option value="3000-5000元">3000-5000元</option>
                <option value="5000-8000元">5000-8000元</option>
                <option value="8000-12000元">8000-12000元</option>
                <option value="12000-20000元">12000-20000元</option>
                <option value="20000-25000元">20000-25000元</option>
                <option value="25000元以上">25000元以上</option>
              </select>
            </div>

            <div class="col-sm-4">
              <label><input name="overseas" type="checkbox"  [(ngModel)]="releaseJobForm.overseas" />具备海外劳动签证条件</label>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">联系电话<i>*</i></label>
            <div class="col-sm-4">
              <input type="text" class="form-control" name="tel" required="required" [(ngModel)]="releaseJobForm.tel">
            </div>
          </div>


          <div class="form-group">
            <label class="col-sm-3 control-label">学历要求<i>*</i></label>
            <div class="col-sm-4">
              <select class="form-control" name="record" [(ngModel)]="releaseJobForm.record">
                <option value="任意学历">任意学历</option>
                <option value="中技">中技</option>
                <option value="中专">中专</option>
                <option value="大专">大专</option>
                <option value="本科">本科</option>
                <option value="硕士">硕士</option>
                <option value="博士">博士</option>
                <option value="MBA">MBA</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">工作经验<i>*</i></label>
            <div class="col-sm-4">
              <select class="form-control" name="experience" [(ngModel)]="releaseJobForm.experience">
                <option value="无经验">无经验</option>
                <option value="应届生">应届生</option>
                <option value="1年以下">1年以下</option>
                <option value="1-2年">1-2年</option>
                <option value="3-5年">3-5年</option>
                <option value="6-10年">6-10年</option>
                <option value="10年以上">10年以上</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">职位描述<i>*</i></label>
            <div class="col-sm-8">
              <textarea class="form-control" name="desription" rows="8" required="required" [(ngModel)]="releaseJobForm.desription"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">任务要求<i>*</i></label>
            <div class="col-sm-8">
              <textarea class="form-control" name="mission" rows="8" required="required" [(ngModel)]="releaseJobForm.mission" ></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 text-right">
              <input type="submit" value="发表职位" class="btn btn-primary" [disabled]="!releaseJobForm.form.valid">
            </div>
          </div>
        </form>
      </div>

    </div>

  </div>
</div>
