<div class="container">
  <div class="container">
    <div class="panel">
      <h3><a href="">服务声明 </a></h3>
    </div>
    <div class="panel-body">
      <p>
        1、版权  本网站的所有资料均受《中华人民共和国著作权法》、《中华人民共和国商标法》、《中华人民共和国专利法》、相关的规章规定、规范性文件及国际公约中有关著作权、商标权、专利权或其它财产所有权法律的保护，所有权归版权人所有，用户不享有版权。凡使用本网站所提供的软件或驱动程序，视为接受随产品所附的许可证协议规定。  本网站为北京大慈永新国际生物科技有限公司所有，北京大慈永新国际生物科技有限公司拥有包括域名、著作权、商标权、专利权以及所有与网站内容相关的权利或其它财产的所有权。  严禁任何人私自变更、发行、复制、转载和散发本网站已经发布的信息资料，若需发行、复制、转载或散发本网站已经发布的资料，请向网站所属公司提出书面申请，公司将决定许可的范围、使用方式等。未经本公司书面许可而发行、复制、转载或散发本网站已经发布的资料均视为侵权，本网站有权通过法律途径追究侵权者的责任。  <br/>
        2、信息发布及责任承担  本网站所发布的信息由所有权人及其下属公司遵循"真实"原则发布，发布人对网站信息不作任何保证或其它担保。发布人尽力确保本网站公布资料的绝对、及时、准确、完整，但不对所公布资料的绝对、及时性、准确性或完整性作任何保证和担保，发布的相关信息如有变化或更新，不需另行发布或者通知，本网站不对任何由于使用本网站以及相关内容而引起的直接或间接损失承担任何责任。使用网站提供的信息而引起的任何后果和责任，均由使用者本人承担。  您可以在全球各地访问本网站，但网站不保证所发布的信息、内容或应用适用于您所在的国家。本网站所发布的某些信息、内容及应用在某些国家或地区的司法辖区内可能不被允许或者使用，请您自行确保访问本网站将不违背您所在司法辖区的所有法律法规规定。  本网站如因线路、硬件故障、系统维护、系统升级或其它不可抗力而导致暂停服务，于暂停服务期间造成的一切不便与损失，本网站不承担任何责任。  本网站由于计算机黑客攻击、计算机病毒侵入、硬件设施损坏、或因政府行为、司法强制要求而造成个人资料泄露、丢失、被盗用或被篡改等，本网站不承担任何责任。   <br/>
        3、商标  jiejuqk.com、jiejuqk.cn的商标属于本网站所有。 <br/>jiejuqk.com、jiejuqk.cn上的合作者的商标属于合作者所有。 <br/>
        4、网站使用  本网站只能用于合法目的。本网站明确禁止任何其他用途，严禁出现下列三种情况：    <br/>  (1).违反任何现行法律法规；      <br/>(2).侵犯他人的著作权及其他知识产权，侵害他人的商业机密或侵犯他人的隐私权等其他个人权利；   <br/> (3).利用本网址传送、分发、储存属于诽谤、淫秽、威胁、辱骂性的材料，毁损他人材料。  <br/>禁止使用者破坏或企图破坏本网站的安全规则，其中包括但不限于:       <br/>
        (1). 接触未经许可的数据或进入未经许可的服务器或帐户;      <br/>
        (2). 没有得到许可，企图探查，扫描或测试系统或网络的弱点，或者破坏安全措施；       <br/>
        (3). 企图干涉对用户及网络的服务，包括，并不限于，通过超载， "邮件炸弹"或"摧毁"等手段;      <br/>
        (4). 发送促销，产品广告及服务的E-mail；       <br/>
        (5). 伪造TCP/IP数据包名称或部分名称。破坏系统或网络可能导致犯罪,本网站将调查、干预此类 <br/>破坏行为的发生，并将与执法当局合作，起诉此类破坏行为的使用者。      <br/>
        5、暂停与中止使用  任何经本网站确认已违反了网站使用规则的用户，将收到一份书面警告。在该用户同意以书面形式表示不再有任何犯规行为时，本网站有权决定是否给予其暂停使用的处理。但是，本网站可以不提出警告而马上暂停或终止对该用户的服务，如果本网站认为确有其必要；而对屡犯者将立即受到暂停使用或终止使用的处理。 <br/>     6 、风险分担  <br/>本网址对材料不作任何明示的或暗示的保证，不能保证材料的特殊目的不受阻挠或不出错误、不能保 证错误一定能得到纠正，也不能保证本网址或制成本网址的材料不会含有病毒或其他有害成分。在涉及有关材料的使用或使用结果方面，本网站对材料的正确性、准确性、可靠性及其他同时不作出任何保证或说明。用户(而不是本网站)将承担因此而造成的一切必要的服务、修补和改正费用，除非现行的法律法规另有明文规定。     <br/>
        7、隐私条款  本网站强调保护所有会员的隐私权，我们将为每个会员提供最安全，最可靠的服务。您可以通过本网站控制自己的个人信息。  如果我们决定改变本网站的隐私权条款，我们会在此公布，以便您能及时了解到我们在收集什么资料，如何使用这些资料，以及是否向别人公开这些资料。如果您有任何关于我们隐私权条款的问题，欢迎您随时联系我们。 <br/>
        8、网站广告<br/>
        本站拒绝非法广告信息，本站所登载广告均为广告客户或商家 单方面意见及表达，和本站无任何关系，本站不承担任何责任。  本网站不接受黄赌毒、短信注册、收费注册、邮件营销、反动及放置木马、欺骗玩家等违反国家法律规定的广告！不接受弹窗、赌博、中奖、彩票、漂浮类、插件类和捆绑类广告！一经发现，将立即删除整个广告，且不予以退款；广告客户或商家应承担一切责任和后果，本站保留与有关合作追责的权利。  如有用户投诉广告客户或商家虚假行为并且举证，广告客户或商家有义务配合本站调查、举证，并做出有效答复和解释；如不能举证或做出有效解释，本站有权终止合作且不退回剩余广告款。  在本站投放广告，即视为同意并自愿接受了本站的要求和声明的约束。  <br/>
        9、与其它站点的链接  为了给访问者提供方便，本网站将定期允许访问者通过网站链接访问其它站点。对于通过网站链接而进入的其它站点，本网站将不承担任何责任，也不对这些站点的质量、性质或可靠性作任何保证。提供上述站点链接的行为不得视为本网站向这些站点提供内容或该链接站点的内容为本网站内容。本网站可自行判断并保留在不通知任何第三方的情况下随时自行删除任何超级链接的权利。  <br/>
        10、网站回复及责任承担  请注意，访问者发送到本网站的信息或回复将不被保密。若访问本网站发送的信息或回复，视为访问者已向本网站或其下属公司作了可使用、复制、传播及修改的不可撤消及不受限制的授权，并且视为同意网站把包含在信息及回复中的任何计划或概念用于任何用途，但是，除非法律要求或征得访问者本人允许，本网站不会透露访问者的真实姓名。同时本网站对回复引起的任何问题不承担任何责任。  访问者在本网站发表或投递的信息、回复必须遵守中华人民共和国各项法律、法规、条例，不发布或链接有关政治、破坏系统、淫秽色情、封建迷信、人身攻击等违法信息，不侵犯他人知识产权等，否则本网站有权自行删除该类访问者投递或发布的资料，并取消其注册资格。若因访问者发布内容引起任何刑事或民事纠纷，发布者须自行承担该刑事、民事或者经济法律责任，同时本网站有权就发布者上述违法行为给予网站造成的任何损失要求赔偿。  <br/>
        11、防范垃圾邮件策略  <br/>本网站所有人及其下属公司奉行"无垃圾邮件"政策，承诺决不出售或出租客户、潜在客户或 Web 访问者的个人资料，注重保护个人隐私。  <br/>
        12、适用法律  本网站的运营及管理适用中华人民共和国法律。网站所有人保留随时更改本网站信息资料及本法律声明的权利。建议您定期访问本网页，了解最新的法律声明。本声明未涉及的问题参见国家有关法律法规以及相关的规章、制度等，当声明与国家法律法规冲突时，以国家法律法规为准。以任何方式登录本网站或直接、间接使用本网站资料的访问者，均视为自愿接受本网站声明的约束。  <br/>
        13、语言  本网站使用中、英文表达，若两个语言版本之间存在不一致或者歧义的，以中文版本为准。<br/>  本网站保留随时修正此服务声明条款的权利。 如果您对网站有任何疑问，请与网站管理员联系。<br/>





        jiejuqk.cn（捷居工作网）成立于2017年，我们的目标有两大部分：致力于为在华的外国人提供更好的职业发展机会。同时，我们也致力于为企业搜寻、招募到最优秀的人才。目前，我们已成为中国第一家专为非华人士的招聘网站，我们的服务包括：<br/>
        一．求职--帮助个人寻找合适的职位。<br/>
        全国最大的职位信息库（求职中心）<br/>
        拥有全国最大的职位信息库。依托广泛的服务网络和先进的技术保证，我们所提供的职位涉及信息技术、电子、金融、化工、物流、广告等各种行业。<br/>
        为配合不同行业及求职者不同程度的求职需求，我们提供不同的频道，以满足不同的求职人员：Executive, IT人才，学子前程。为求职者提供各类与个人职业发展有关的信息，包括最新职位、培训、职业指导信息以及其他个性化增值服务。<br/>
        个性化的职位搜索方式（找工作）<br/>
        求职者可以根据需要建立多组职位搜索器，在寻找合适的职位招聘信息的同时可以节省许多找工作的时间。<br/>
        个人简历管理系统 （个人简历）<br/>
        提供会员一套完整的简历模块，会员可在我们的简历精灵的指导下完成标准的简历。简历将储存在jiejuqk.cn的简历库中，会员可以随时上网修改更新。使用者可以选择将其在jiejuqk 上填写的简历通过email投递到任意想应聘的公司。<br/>
        订阅职场信息（订阅文章）<br/>
        使用者可以根据各自的需求来选定网上的各种职场信息，届时这些文章就会按时投递到指定的email 信箱中。<br/>
        个人在线求职管理中心<br/>
        这是一个属于会员个人的网上免费求职管理中心。使用者可以修改简历、搜寻招聘职位、查阅投递简历纪录、获取求其职意向分析。<br/>
        为求职者建立多种职业沟通的渠道<br/>
        许多著名的跨国公司和大型国企正在使用jiejuqk的“网才”招聘管理软件，根据您简历的公开程度企业可以直接搜索捷居简历库，提供更多的职业机会给您；jiejuqk的“人才速配”服务是根据招聘企业的需求搜索推荐合适人才的一个桥梁，只要您符合我们的搜索条件，就有机会被推荐；同时jiejuqk的猎头人员会密切留意网站简历库中的优秀人才，当有诱人的工作空缺出现并与您的专业技能匹配时，我们将直接同您联络。<br/>
        二．求才--帮助招聘单位找到合适的人才。<br/>
        "网才"招聘管理系统<br/>
        随着网络的发展，越来越多的企业通过互联网进行招聘工作。同时企业也发现，网络招聘要发挥最大的作用，仍需经历较长的历程。jiejuqk通过对企业招聘工作的细致研究，目前已推出了基于互联网的真正服务于企业招聘管理的操作系统-"捷居网才"。该系统包括：<br/>
        与企业组织结构完全吻合的企业职位库管理系统<br/>
        为企业人事部门提供最为方便的职位管理解决方案。<br/>
        招聘广告自动投放管理系统<br/>
        可以随时随地利用最多的资源及时发布职位信息，同时能第一时间掌握广告效果。<br/>
        高效的应聘筛选及信件自动回复系统<br/>
        人性化的筛选方式，使企业能更快更有效地找到符合条件的人才，帮助人事招聘人员解决每天繁复的机械劳动。与各种条件相对应的回信，使各类人才真正能与招聘企业建立相互信任的关系。<br/>
        完全适合企业运作的招聘流程管理系统<br/>
        通过该系统的运作，以最为合适的方式将外来的应聘者信息传递到企业内部各个相关部门，协助人事管理人员最高效的完成招聘工作。<br/>
        高质量的简历库查询系统<br/>
        开放jiejuqk.cn最赖以自豪的高质量的简历库，提供给企业最为便捷的求才途径。我们的目标是将该系统建成能为企业随时提供最为便捷、最为安全、最为高效的招聘服务的操作平台，真正将企业的人事部门从繁重而复杂的劳动中解放出来。<br/>
        其他功能<br/>
        简历分析器：将各种形式的电子简历自动转换成统一格式，便于处理；<br/>
        简历订阅器：根据您的要求，将符合条件的简历定期发送给您；<br/>
        职位考核标准及评定：为不同职位设定不同的考核项目，以便对应聘者做出有针对性的评价；<br/>
        在线用户管理：允许多个用户同时使用"网才"进行招聘管理；<br/>
        从而适时了解内部使用情况，控制权限。<br/>
        jiejuqk 隐私条款<br/><br/>

        jiejuqk.cn强调保护所有会员的隐私权，我们将为每个会员提供最安全，最可靠的服务。您可以通过捷居工作网jiejuqk.cn完全控制自己的个人信息.。以下是我们的承诺：<br/>
        会员信息<br/>
        当您到我们网站上注册并填写简历的时候，您会被要求提供一系列个人基本信息，如您的姓名、地址、电子邮件、电话号码等等。除非我们认为出于法律的需要，我们不会向第三方公开上述信息。但这些资料将会被我们统计、汇总，为我们的广告商提供依据。<br/>
        关于简历<br/>
        jiejuqk为您的简历提供三种控制权限，当你在填写简历时就可以设置个人简历控制权限：<br/>
        对所有公开<br/>
        允许jiejuqk.cn的专业人员和通过jiejuqk.cn审核的用人单位有权使用我们的简历库搜索到您的简历。如果您希望得到最全面的求职服务——职位推荐、面试邀约、求职秘籍等，这项服务将更适合您。<br/>
        对捷居开放<br/>
        只允许jiejuqk.cn的专业人员或认证猎头人士使用我们的简历库搜索到您的简历。我们会根据您的工作经历来为您推荐高质量的职位，但会在开放简历前询问您的意愿。jiejuqk.cn的专业人员也会不定期的与您联系，届时会与您确认您的最新求职意向并为您提供更多符合您的职业发展机会。<br/>
        完全保密<br/>
        您可以在jiejuqk.cn上填写简历，并自行查找职位和投递简历。您的个人信息不会被任何人员（包括并不限于jiejuqk.cn的专业人员、用人单位）搜索到，所有的信息完全保密。但如果您希望能接受面试邀约或职位推荐，我们建议您更改此选项，将简历公开度设定为“对所有公开”。<br/>
        个人公共档案：<br/>
        jiejuqk的个人会员拥有一个个人公共档案，包括职位名称、公司名称、居住地、行业等工作经验和教育经历的部分信息，但不包含姓名、联系方式等隐私信息。这个公共档案可以被jiejuqk会员（包括个人会员或企业会员）查询。
        个人公共档案有2种控制权限，你可以在相关的功能中进行设置：<br/>
        公开（默认）：<br/>
        jiejuqk会员（包括个人会员或企业会员）可以查询你的公共档案，并可以通过发私信与你联系（通过jiejuqk站内信的方式）。<br/>
        不公开：<br/>
        你的公共档案不会被任何人包括jiejuqk.cn在内的其他人员检索到，信息完全保密。<br/>
        公共论坛<br/>
        jiejuqk.cn为访问者提供论坛、BBS等。如果您访问这些区域，您公布的任何信息都会成为公共信息。jiejuqk.cn提醒您慎重考虑！另外，您在这些区域发表言论及/或发布信息都属个人行为，不代表jiejuqk.cn的立场，jiejuqk.cn不对此类个人言论及个人行为承担任何责任。<br/>
        信息的修改和删除<br/>
        您可以在jiejuqk.cn上自由修改您的个人信息和简历。除了信息的发布者外，任何人无权修改或删除他人发布的信息。jiejuqk.cn有权根据其判断保留修改或删除任何不适信息的权利。<br/>
        Cookie的使用<br/>
        a) 您有权选择接受或拒绝接受cookies。在您未拒绝接受cookies的情况下，jiejuqk.cn会在您的计算机上设定或取用cookies，以便您能登录或使用依赖于cookies的jiejuqk.cn平台服务或功能。同时，jiejuqk.cn将自动接收并记录您的浏览器端数据，包括但不限于IP地址、网站Cookies中的资料及您要求取用的网页记录；<br/>
        b)您可以通过修改浏览器设置的方式拒绝接受cookies。但如果您选择拒绝接受cookies，则您可能无法登录或使用依赖于cookies的jiejuqk.cn平台服务或功能；<br/>
        c)通过jiejuqk.cn所设cookies所取得的有关信息，将适用本政策。<br/>
        通知等信息推送<br/>
        我们可能使用您的信息向您发送通知等信息。如您不希望收到这些信息，可以按照我们的相关提示选择退订或取消设置。我们可能在必要时（例如安全提示）向您发出有关公告；您可能无法取消这些与服务有关、性质不属于推广的公告。
        隐私权条款的变更<br/>
        如果我们决定改变jiejuqk.cn的隐私权条款，我们会在此公布，以便您能及时了解到我们在收集什么资料，如何使用这些资料，以及是否向别人公开这些资料。如果您有任何关于我们隐私权条款的问题，欢迎您随时给我们发电子邮件至 privacy@jiejuqk.cn。<br/>
        法律声明<br/>
        <br/>
        1、版权：<br/>
        A、此网址的所有内容和图表受《中华人民共和国著作权法》及相关法律法规和中国加入的所有知识产权方面的国际条约的保护。jiejuqk.cn对网站内容享有完整的著作权，未经其允许，不得以任何形式复制和采用。在内容和图表不作任何修改、保留性内容未做修改以及得到jiejuqk.cn的许可的情况下，jiejuqk.cn的网上材料可作为网外信息方面其他非商业性的用途。<br/>
        B、申请使用jiejuqk.cn内容的许可按特别批准原则进行；jiejuqk.cn欢迎各方的申请；请把请求直接提交 给service@jiejuqk.cn。<br/>
        C、请勿擅自复制或采用jiejuqk.cn所创造的用以制成网页的HTML。jiejuqk.cn对其html享有著作权。同时 jiejuqk.cn对其网址上的所有图标、图饰、图表、色彩、文字表述及其组合、版面设计、数据库均享有完全的著作权，对发布的信息均享有专有的发布和使用权，未经jiejuqk.cn同意，不得擅自复制、使用或转载。<br/>
        2、 商标：<br/>
        jiejuqk.cn的商标属于jiejuqk.cn所有。<br/>
        jiejuqk.cn上的jiejuqk.cn合作者的商标属于合作者所有。<br/>
        3、 责任承担：<br/>
        jiejuqk.cn并无随时监视此网址，但保留对其实施实时监视的权利。对于他方输入的，不是jiejuqk.cn发布的材料，jiejuqk.cn概不负任何法律责任。应聘信息发布方必须对其存入简历中心的个人简历及材料的格式、内容的准确性和合法性独立承担一切法律责任。招聘信息的发布方对其在职位数据库公布的材料独立承担一切法律责任。<br/>
        jiejuqk.cn不保证对某一种职位描述会有一定数目的使用者来浏览，也不保证会有一位特定的使用者来 浏览。对于其他网址链接在本网址的内容，jiejuqk.cn概不负法律责任。<br/>
        4、 网站使用：<br/>
        A.明确禁止条款：<br/>
        jiejuqk.cn只能用于合法目的，即个人寻找职业和雇主寻找雇员。jiejuqk.cn明确禁止任何其他用途，所有使用者必须保证不用于下列任何一种用途：<br/>
        (1). 在简历中心公布虚假的、不完整的或不准确的简历资料（包括以为他人寻找全职或兼职工作之目的发布的简历），公布不是简历的资料，如意见、通知、商业广告或其他内容。<br/>
        (2). 本公司的竞争同行用此方法寻求与雇主的业务联络。<br/>
        (3). 擅自删除或修改任何其他个人或公司公布的资料。<br/>
        (4). 擅自打印、复制或使用有关雇员的任何个人资料或有关雇主的商业信息。未经同意，给公布信息 的个人或公司发电子邮件、打电话、寄信或进行其他任何形式的接触。<br/>
        (5). 未经同意，将他人简历资料、个人信息等公诸于众或扩大公开范围，或出售、非法提供给任何第三方。<br/>
        B.网址安全规则：<br/>
        禁止使用者破坏或企图破坏jiejuqk.cn的安全规则，其中包括但不限于:<br/>
        (1). 接触未经许可的数据或进入未经许可的服务器或帐户;<br/>
        (2). 没有得到许可，企图探查，扫描或测试系统或网络的弱点，或者破坏安全措施；<br/>
        (3). 企图干涉对用户及网络的服务，包括，并不限于，通过超载， "邮件炸弹"或"摧毁"等手段;<br/>
        (4). 发送促销，产品广告及服务的E-mail；<br/>
        (5). 伪造TCP/IP数据包名称或部分名称。破坏系统或网络可能导致犯罪,jiejuqk.cn将调查、干预此类 破坏行为的发生，并将与执法当局合作，起诉此类破坏行为的使用者。<br/>
        C.总则：<br/>
        严禁出现下列三种情况：<br/>
        (1). 违反任何现行法律法规；<br/>
        (2). 侵犯他人的著作权及其他知识产权，侵害他人的商业机密或侵犯他人的隐私权等其他个人权利；<br/>
        (3). 利用本网址传送、分发、储存属于诽谤、淫秽、威胁、辱骂性的材料，毁损他人材料。<br/>
        5. 暂停与中止使用：<br/>
        任何经jiejuqk.cn确认已违反了网站使用规则的用户，将收到一份书面警告。在该用户同意以书面形式 表示不再有任何犯规行为时，jiejuqk.cn有权决定是否给予其暂停使用的处理。但是，jiejuqk.cn可以 不提出警告而马上暂停或终止对该用户的服务，如果jiejuqk.cn认为确有其必要；而对屡犯者将立即受到 暂停使用或终止使用的处理。<br/>
        6. 除外：<br/>
        除了本网址在信息保密中提出的条款外，使用者理解并同意，jiejuqk.cn在不公开姓名的情况下，可以为用户应聘或招聘的目的 向第三方提供综合性的资料。除非司法行政等公务需要，在未经本人同意的情况下，jiejuqk.cn将不向任何 第三方公开用户相关资料。<br/>
        7. 风险分担：<br/>
        用户使用本网址将承担一定风险： 本网址的材料按"正如……的情况"提供，jiejuqk.cn对材料不作任何明示的或暗示的保证。jiejuqk.cn不能保证材料的特殊目的不受阻挠或不出错误、不能保证错误一定能得到纠正，也不能保证本网址或制成本网址的材料不会含有病毒或其他有害成分。在涉及有关材料的使用或使用结果方面，jiejuqk.cn对材料的正确性、准确性、可靠性及其他同时不作出任何保证或说明。用户(而不是jiejuqk.cn)将承担因此而造成的一切必要的服务、修补和改正费用，除非现行的法律法规另有明文规定。<br/>
        8. jiejuqk.cn保留随时修正本服务条款的权利。<br/>
        警告： 使用jiejuqk.cn网络时违反本条款将构成对jiejuqk.cn权利的侵害，jiejuqk.cn将保留采取一切法律 措施的权利。
      </p>
      <!--主要内容区域结束-->
    </div>
  </div>
</div>
