<div class="row banner">
  <div class="col-md-12 column">
    <div class="carousel slide" data-ride="carousel" id="carousel-457763">
      <ol class="carousel-indicators">
        <li class="active" data-slide-to="0" data-target="#carousel-457763">
        </li>
        <li data-slide-to="1" data-target="#carousel-457763">
        </li>
        <li data-slide-to="2" data-target="#carousel-457763">
        </li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <a routerLink="/propagate">
            <img alt="" src="../assets/imgs/banner01.png" />
          </a>
        </div>
        <div class="item">
          <img alt="" src="../assets/imgs/banner02.jpg" />
        </div>
        <div class="item">
          <img alt="" src="../assets/imgs/banner03.jpg" />
        </div>
      </div> <a class="left carousel-control" href="#carousel-457763" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-457763" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
  </div>
</div>
