.info{border: 1px dashed #ccc; border-radius:2px; padding: 10px;margin-top: 50px;border-radius: 5px;}
.info span{ color:#ff6600;font-weight: bold;}
.info h3{ color: #8b9044;font-weight: bold;letter-spacing: 10px;font-family: monospace;}
