<div class="row">
  <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-offset-2 col-xs-8">
    <div class="col-md-6 col-sm-6 col-xs-12 other">
      <img src="../assets/imgs/other01.png" class="img-responsive center-block" />
      <div class="panel">
        <div class="panel-heading text-center">
          苏芒：我在工作中唯一在乎的就是成
        </div>
        <div class="panel-body">
          <img src="../assets/imgs/xuan01.png" class="img-responsive center-block" />
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 other">
      <img src="../assets/imgs/other02.png" class="img-responsive center-block" />
      <div class="panel">
        <div class="panel-heading text-center">
          3.10|中国人民银行清算总中心|华中科技大学
        </div>
        <div class="panel-body">
          <p>     中国人民银行清算总中心支付系统开发中心 （北京驰波信息工程有限公司）是中国人民银行 清算总中心的独资企业，具备独立法</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 other">
      <img src="../assets/imgs/other03.png" class="img-responsive center-block" />
      <div class="panel">
        <div class="panel-heading text-center">
          最新校招经验汇总
        </div>
        <div class="panel-body">
          <img src="../assets/imgs/xuan02.png" class="img-responsive center-block" />
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 other">
      <div class="center-block"><img src="../assets/imgs/other04.png" class="img-responsive center-block" /></div>
      <div class="panel">
        <div class="about">
          <a routerLink="/process">| 求职助攻 |</a>
          <a routerLink="/process">| 面试宝典 |</a>

        </div>
      </div>
    </div>
  </div>
</div>
