<div class="container">
  <div class="container">
    <div class="panel">
      <h3><a href="">服务声明 </a></h3>
    </div>
    <div class="panel-body">
      <p>
        JieJu QK teacher’s teaching criteria<br/><br/>
        1.Teachers should not convey information which is gonna do harm to our society to student. And teachers should not pass unhealthy ideas to students as well.<br/><br/>

        2. teacher should not try to change the students' political thoughts in the course of teaching, but also can not give their own political ideas to students, try to avoid political topics.<br/><br/>

        3. Teachers in teaching should be modest to teach, to help students achieve the purpose of learning.<br/><br/>

        4. Teachers in the course of teaching students to correct the mistakes of learning, can not use language, behavior and other methods of attack, threatening students.<br/><br/>

        5. In the face of complaints need to face and correct teaching errors, and timely communication with the site administrator.<br/><br/>

        6. When the teacher is teaching, students and parents should not be allowed to get other money except the teaching salary.<br/><br/>

        7. QK teacher's salary is based on the original price agreed with the site, the customer, and agreed to the standard. QK website will be extracted from the 0%-10% ranging from royalty, salaries will be unified by the site directly to play the way into the teacher's account, not private transactions.<br/><br/>

        8. QK teacher's praise will be released directly to the customer by the website, the customer can evaluate the level of the teacher's teaching according to the degree of praise, and as the basis of employment.<br/><br/>

        9. QK teacher's praise is based on the post evaluation of the customer, the complaint information, whether strictly abide by the "live in QK teacher teaching standards" as a basis for fair and impartial by the website statistics, publishing.<br/><br/>


        10. As a teacher in QK a serious violation of "Czech population QK teacher standards" and a large number of customer complaints received or do some illegal behavior, Jie Ju QK network has the right to cancel its qualification and help the teacher QK no longer working arrangements or suspend the teacher qualification for processing QK.<br/><br/>

      </p>
      <!--主要内容区域结束-->
    </div>
  </div>
</div>
